.myNavBar {
  border-bottom: 1px solid $color-gray-3;
  .navbar-brand {
    flex-grow: 1;
    img {
      width: 110px;
    }
  }
  .categories {
    flex-grow: 1;
    @include text($color-black-light, $fs-1, $fw-normal);
    align-self: center;
  }
  .input_search {
    flex-grow: 5;
    .form-control {
      font-size: $fs-1;
      background-color: $color-gray-1;
      border: 1px solid $color-gray-1;
      border-right: none;
      align-self: center;
      transition: none;
      &:focus {
        box-shadow: none;
        background-color: $color-white-0;
        border: 1px solid $color-gray-3;
        border-right: none;
      }
      &:focus + .input-group-prepend {
        .input-group-text {
          background-color: $color-white-0;
          color: $color-red-0;
          border: 1px solid $color-gray-3;
          border-left: none;
        }
        &:hover {
          .input-group-text {
            color: $color-white-0;
            background-color: $color-red-0;
          }
        }
      }
    }
    .input-group-prepend {
      .input-group-text {
        background-color: $color-gray-1;
        color: $color-red-0;
        border: 1px solid transparent;
        font-size: $fs-0;
      }
      &:hover {
        .input-group-text {
          color: $color-white-0;
          background-color: $color-red-0;
        }
      }
    }
  }
  .navbar-nav {
    justify-content: space-between;
    width: 100%;
    .nav-item {
      .nav-link {
        @include text($color-black-light, $fs-1, $fw-normal);
        padding: $pd-1 $pd-2;
        border-radius: $border-radius;
      }
      &:hover .nav-link {
        background-color: $color-gray-1;
      }
    }
  }
  .nav-item:nth-child(3) .nav-link {
    border-radius: 50%;
  }
  @include respond-to("extra-large") {
    .navbar-nav {
      .nav-item:nth-child(1),
      .nav-item:nth-child(2) {
        display: none;
      }
    }
  }
  @include respond-to("large") {
  }
  @include respond-to("medium") {
    .categories,
    .input_search {
      display: none;
    }
  }
  @include respond-to("small") {
  }
}
