* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #29303b;
  background-color: #fff;
  line-height: 1.43; }

.myNavBar {
  border-bottom: 1px solid #cacbcc; }
  .myNavBar .row {
    align-items: center; }
  .myNavBar .navbar-toggler {
    border: none; }
    .myNavBar .navbar-toggler .icon-bar {
      background: #686f7a;
      display: block;
      width: 22px;
      height: 4px;
      border-radius: 5px;
      margin: 2px 0; }
  .myNavBar .navbar-brand {
    flex-grow: 0.1; }
    .myNavBar .navbar-brand img {
      width: 110px; }
  .myNavBar .categories {
    flex-grow: 0.1;
    color: #505763;
    font-size: 13px;
    font-weight: normal;
    align-self: center; }
  .myNavBar .input_search {
    flex-grow: 4; }
    .myNavBar .input_search .form-control {
      font-size: 13px;
      background-color: rgba(20, 23, 28, 0.05);
      border: 1px solid rgba(20, 23, 28, 0.05);
      border-right: none;
      align-self: center;
      transition: none; }
      .myNavBar .input_search .form-control:focus {
        box-shadow: none;
        background-color: #fff;
        border: 1px solid #cacbcc;
        border-right: none; }
      .myNavBar .input_search .form-control:focus + .input-group-prepend .input-group-text {
        background-color: #fff;
        color: #ec5252;
        border: 1px solid #cacbcc;
        border-left: none; }
      .myNavBar .input_search .form-control:focus + .input-group-prepend:hover .input-group-text {
        color: #fff;
        background-color: #ec5252; }
    .myNavBar .input_search .input-group-prepend .input-group-text {
      background-color: rgba(20, 23, 28, 0.05);
      color: #ec5252;
      border: 1px solid transparent;
      font-size: 15px; }
    .myNavBar .input_search .input-group-prepend:hover .input-group-text {
      color: #fff;
      background-color: #ec5252; }
  .myNavBar .navbar-nav {
    width: 100%; }
    .myNavBar .navbar-nav .nav-item {
      margin-left: 10px; }
      .myNavBar .navbar-nav .nav-item .nav-link {
        color: #505763;
        font-size: 13px;
        font-weight: normal;
        padding: 10px 15px;
        display: inline-block;
        border-radius: 2px;
        border: 1px solid transparent;
        white-space: nowrap; }
      .myNavBar .navbar-nav .nav-item:hover .nav-link {
        background-color: rgba(20, 23, 28, 0.05);
        border: 1px solid rgba(20, 23, 28, 0.5); }
  .myNavBar .nav-item:nth-child(3) .nav-link {
    border-radius: 50%;
    font-size: 14px; }
  @media screen and (max-width: 1200px) {
    .myNavBar .navbar-nav .nav-item:nth-child(1),
    .myNavBar .navbar-nav .nav-item:nth-child(2) {
      display: none; } }
  @media screen and (max-width: 992px) {
    .myNavBar .navbar-nav .nav-item:nth-child(3) {
      font-size: 10px; } }
  @media screen and (max-width: 768px) {
    .myNavBar .categories,
    .myNavBar .input_search {
      display: none; }
    .myNavBar .navbar-brand {
      text-align: center; }
    .myNavBar .navbar-nav .nav-item .button {
      display: block; } }

#notice-streamer {
  display: flex;
  background-image: url(../../img/cover.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  align-items: center; }
  #notice-streamer .carousel-fullscreen-sidebar {
    width: 100%;
    color: #fff; }
    #notice-streamer .carousel-fullscreen-sidebar .notice-streamer__headline {
      color: #fff;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 10px;
      line-height: 1.17; }
    #notice-streamer .carousel-fullscreen-sidebar .notice-streamer__text {
      margin-bottom: 20px;
      line-height: 1.17; }
  @media screen and (max-width: 576px) {
    #notice-streamer .carousel-fullscreen-sidebar .notice-streamer__headline {
      font-size: 40px;
      font-style: normal;
      font-weight: 700; } }
  @media screen and (max-width: 576px) {
    #notice-streamer .carousel-fullscreen-sidebar .notice-streamer__headline {
      font-size: 24px;
      font-style: normal;
      font-weight: 400; } }

.btn--white {
  color: #686f7a;
  background-color: #fff;
  font-weight: 600;
  font-size: 15px;
  white-space: nowrap;
  border: 1px solid #505763; }
  .btn--white:hover {
    background-color: rgba(20, 23, 28, 0.05); }

.btn--red {
  color: #fff;
  background-color: #ec5252;
  font-weight: 700;
  font-size: 15px;
  white-space: nowrap;
  border: 1px solid transparent; }
  .btn--red:hover {
    background-color: #521822; }
  .btn--red:hover {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
