<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feature</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <button class="nav-link btn btn-outline-default" data-toggle="modal" data-target="#modelId"
                    *ngIf="!isLogin">Login</button>
                <button class="nav-link btn btn-outline-default" data-toggle="modal" data-target="#modelId"
                    *ngIf="isLogin">Kha</button>
            </li>
        </ul>

    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <small class="text-muted">Username</small>
                    <input type="text" class="form-control" #us [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <small class="text-muted">password</small>
                    <input type="password" class="form-control" [(ngModel)]="password">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="handleClick()"
                    data-dismiss="modal">Login</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>