// bien
@import "variable";
h1 {
  color: $about-heading-color;
  font-size: $heading-font-size;
  letter-spacing: $heading-letter-spacing;
  margin-top: $about-heading-margin-top;
}
.headertest {
  h2 {
    font : {
      size: 40px;
      weight: normal;
    }
    color: blue;
    transition: all 0.5s;
    &:hover {
      color: yellow;
      font-size: 20px;
    }
  }
  span {
    color: red;
    letter-spacing: 10px;
  }
  p {
    color: green;
    margin-top: 40px;
  }
}

@each $social in $socials {
  .#{$social} {
    background-image: url("#{$social}.png");
    width: 16px;
    height: 16px;
  }
}
