			#param{
				background-color:yellow;
				text-align:center;
			}
			p{
				background-color:pink;
				text-align:right;
			}
			.class{
				color:red;
				text-align:center;
			}
			p.class{
				background-color:yellow;
			}