* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 14px;
  line-height: 1.42857143;
  height: 5000px; }

header {
  background-color: rgba(255, 255, 255, 0.829);
  position: fixed;
  width: 100%;
  z-index: 999; }
  header .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffffffeb;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 1px 0px 3px 1px #00000070; }
    header .sidenav .d-flex {
      justify-content: space-between; }
      header .sidenav .d-flex .nav-link1 .img-fluid {
        width: 35px;
        height: auto;
        border-radius: 50%; }
      header .sidenav .d-flex .nav-link1 span {
        font-size: 14px;
        font-weight: 500; }
      header .sidenav .d-flex .closebtn {
        margin-right: 2%;
        text-align: right; }
        header .sidenav .d-flex .closebtn .img-fluid {
          width: 16px;
          height: auto; }
    header .sidenav a {
      display: block;
      padding: 20px;
      width: calc(100% - 40px);
      font-size: 18px;
      color: #000;
      text-decoration: none; }
      header .sidenav a:hover {
        color: #f1f1f1; }
    header .sidenav .dropdown .dropdown-menu {
      width: 80%;
      text-align: center; }
  header .navbar {
    justify-content: center; }
    header .navbar .navbar-brand {
      position: absolute;
      left: 1%;
      transform: translateX(-1%);
      border-radius: 50%; }
      header .navbar .navbar-brand .img-fluid {
        width: 50px;
        height: auto; }
    header .navbar .navbar-toggler {
      position: absolute;
      right: 1%;
      transform: translateX(-1%);
      border: none; }
      header .navbar .navbar-toggler .img-fluid {
        width: 25px;
        height: auto; }
    header .navbar .nav__menu .navbar-nav .nav-item .nav-link {
      color: #000;
      transition: all 0.2s;
      text-decoration: none;
      margin-right: 20px;
      font-weight: 500; }
      header .navbar .nav__menu .navbar-nav .nav-item .nav-link:hover {
        color: #fb4226; }
    header .navbar .nav__right {
      position: absolute;
      right: 1%;
      transform: translateX(-1%); }
      header .navbar .nav__right .navbar-nav .nav-item {
        font-weight: 500;
        align-self: center; }
        header .navbar .nav__right .navbar-nav .nav-item .nav-link {
          position: relative; }
          header .navbar .nav__right .navbar-nav .nav-item .nav-link .img-fluid {
            width: 30px;
            height: auto;
            border-radius: 50%;
            margin-right: 7px; }
          header .navbar .nav__right .navbar-nav .nav-item .nav-link.nav-link1::before {
            position: absolute;
            content: "";
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 60%;
            width: 0.5%;
            background-color: #81818198; }
          header .navbar .nav__right .navbar-nav .nav-item .nav-link .fas {
            color: #81818198;
            margin-right: 10px; }
        header .navbar .nav__right .navbar-nav .nav-item.dropdown .dropdown-menu {
          min-width: 7rem; }
          header .navbar .nav__right .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
            font-size: 14px;
            padding-left: 10px; }
  @media screen and (max-width: 768px) {
    header {
      padding: 20px 0; }
      header .navbar .nav__menu {
        display: none; }
      header .navbar .nav__right {
        display: none; } }

#SlideShow {
  padding-top: 60px; }
  #SlideShow .slick__carousel .slick-arrow {
    display: none !important; }
  #SlideShow .slick__carousel .slick-dots {
    top: 92%; }
  #SlideShow .slick__carousel .item-carousel {
    width: 100%; }
    #SlideShow .slick__carousel .item-carousel .img-fluid {
      width: 100%; }

/*# sourceMappingURL=style.css.map */
