header {
  background-color: transparent;
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
      &:hover {
        color: #f1f1f1;
      }
    }

    .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  }
  .navbar {
    justify-content: center;
    .navbar-brand {
      position: absolute;
      left: 1%;
      transform: translateX(-1%);
      border-radius: 50%;
      .img-fluid {
        width: 50px;
        height: auto;
      }
    }
    .navbar-toggler {
      position: absolute;
      right: 1%;
      transform: translateX(-1%);
    }
    .nav__menu {
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: #000;
            transition: all 0.2s;
            text-decoration: none;
            margin-right: 20px;
            font-weight: 500;
          }
        }
      }
    }
    .nav__right {
      position: absolute;
      right: 1%;
      transform: translateX(-1%);
      .navbar-nav {
        .nav-item {
          font-weight: 500;
          align-self: center;
          .nav-link {
            position: relative;
            .img-fluid {
              width: 40px;
              height: auto;
              border-radius: 50%;
              margin-right: 7px;
            }
            &.nav-link1::before {
              position: absolute;
              content: "";
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              height: 60%;
              width: 0.5%;
              background-color: #81818198;
            }
            .fas {
              color: #81818198;
              margin-right: 10px;
            }
          }
          &.dropdown {
            .dropdown-menu {
              min-width: 7rem;
              .dropdown-item {
                font-size: 14px;
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }
  @include respond-to("medium") {
    padding: 20px 0;
    .navbar {
      .nav__menu {
        display: none;
      }
      .nav__right {
        display: none;
      }
    }
  }
}
